### GENERAL
FAVICON_URL=

### PAYLOAD
PAYLOAD_SECRET=

### DB
DATABASE_URL=postgres://postgres.[projet]:[motdepasse]@[region].pooler.supabase.com:6543/postgres?supa=base-pooler.x

### VERCEL BLOB
BLOB_READ_WRITE_TOKEN=
