@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
}

h1, h2 {
  font-family: var(--font-story-script), cursive;
}

p {
  a {
    @apply relative text-neutral-300 hover:text-neutral-200 transition-all ease-in-out duration-500;
    @apply after:absolute after:block after:w-[20px] after:h-px after:bg-neutral-300 after:hover:bg-neutral-200 after:transition-all after:ease-in-out after:duration-500 after:left-0 after:bottom-0 hover:after:w-full;
  }
}

/* src/app/globals.css */
@layer components {
  .glowingCard {
    .glowingCardBorder {
      left: var(--mouse-x);
      top: var(--mouse-y);
      transform: translate(-50%, -50%);
    }
  }
}
